@font-face {
    font-family: nunito;
    src: url('/font/Nunito-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: nunito-bold;
    src: url('/font/Nunito-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: nunito-extrabold;
    src: url('/font/Nunito-Black.ttf');
}

* {
    font-family: nunito-bold;
    /* outline: 1px solid red;   */
}

body, nav {
    background-color: #EDF6FF;
}



/* === FONT SIZING === */

.font-s {
    font-size: small;
}

.font-m {
    font-size: 15px;
}

.font-xxs {
    font-size: xx-small;
}

.font-xs {
    font-size: x-small;
}


.font-hero {
    font-size: 66px;
}

.bgs-primary {
    background-color: #174780;
    color: white;
}

.bgs-primary:hover {
    background-color: #174780;
    color: white;
}


.texts-primary {
    color: #174780;
}

.btn-outline-primary {
    outline: 2px solid #174780;
    border: transparent;
    color: #174780;
}

.btn-outline-primary:hover {
    background-color: #174780;
    outline: 2px solid #174780;


}


/* === NAVBAR PROPERTY === */

.navbar-active {
    border-bottom: 3px solid #2252AB;
    color: #2252AB;
}

.navbar-nonactive {
    border-bottom: transparent;
    color: black;
}

.navbar-active > a {
    color: #2252AB;
    transform: scale(1);
    transition: 0.3s ease;
}

.navbar-active > a:hover {
    color: #2252AB;
    transform: scale(1.1);

}


/* === ONE TIME USE === */
.background-photo {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 124, 214, 0.39) 0%, rgba(0, 124, 214, 0.39) 100%), url('/image/background-yayasan.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;

}

.image-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid #174780;
}

.front-background {
    background: url('/image/image-sd-background.png'), lightgray 0px 0px / 100% 100% no-repeat;
    background-position: center;
    background-size: cover;
}

.front-kb-background {
    background: url('/image/tpabg2.jpg');
    background-position: -250px;
    background-size: 150%;
    background-repeat: no-repeat;
}
.front-tpa-background {
    background: url('/image/image-kb-1.png');
    background-position: -250px;
    background-size: 150%;
    background-repeat: no-repeat;
}
.front-kb-backgrounds {
    background: linear-gradient(0deg, rgba(1, 104, 185, 0.43) 0%, rgba(1, 104, 185, 0.43) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("/image/image-kb-1.png"), lightgray 50% / cover no-repeat;
    background-position: -360px;
    background-size: 200%;
    background-repeat: no-repeat;
}

.back-background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.16) 100%), url('/image/backview.png'), lightgray 0px 0px / 100% 109.492% no-repeat;
    background-position: center;
    background-size: cover;
}

.background-sd-photo {
    background: linear-gradient(0deg, rgba(1, 104, 185, 0.43) 0%, rgba(1, 104, 185, 0.43) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("/image/frontview.png"), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.background-tpa-photo {
    background: linear-gradient(0deg, rgba(1, 104, 185, 0.43) 0%, rgba(1, 104, 185, 0.43) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("/image/tpabg4.jpg"), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}


.background-kb-photo {
    background: linear-gradient(0deg, rgba(1, 104, 185, 0.23) 0%, rgba(1, 104, 185, 0.23) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("/image/kb-front-image.jpg"), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}


/* === Hover Property === */

.hover-grow {
    transform: scale(1);
    transition: 0.3s ease;
}


.hover-grow:hover {
    transform: scale(1.1);
}

.hover-grow-small {
    transform: scale(1);
    transition: 0.3s ease;
}


.hover-grow-small:hover {
    transform: scale(1.02);
}


/* === scrollbar Property === */

::-webkit-scrollbar {
    width: 8px; /* Lebar scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #174780; /* Warna thumb (badan scrollbar) */
    border-radius: 10px; /* Menjadikan thumb berbentuk pill */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Warna track (bagian yang tidak terisi) */
  }

  

