@font-face {
    font-family: nunito;
    src: url('/font/Nunito-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: nunito-bold;
    src: url('/font/Nunito-Bold.ttf');
    font-weight: bold;
}

* {
    font-family: nunito-bold;
    /* outline: 1px solid red;   */
}

body, nav {
    background-color: #EDF6FF;
}



/* === FONT SIZING === */

.font-s {
    font-size: small;
}

.font-m {
    font-size: 15px;
}

.font-xxs {
    font-size: xx-small;
}

.font-xs {
    font-size: x-small;
}


.font-hero {
    font-size: 66px;
}

.bgs-primary {
    background-color: #174780;
    color: white;
}

.texts-primary {
    color: #174780;
}


/* === NAVBAR PROPERTY === */

.navbar-active {
    border-bottom: 3px solid #2252AB;
    color: #2252AB;
}

.navbar-nonactive {
    border-bottom: transparent;
    color: black;
}

.navbar-active > a {
    color: #2252AB;
}


/* === ONE TIME USE === */
.background-photo {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 124, 214, 0.39) 0%, rgba(0, 124, 214, 0.39) 100%), url('/image/TogetherBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;

}

.image-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.front-background {
    background: url('/image/frontview.png'), lightgray 0px 0px / 100% 100% no-repeat;
    background-position: center;
    background-size: cover;
}

.front-kb-background {
    background: url('/image/image-kb-1.png');
    background-position: -265px;
    background-size: 150%;
    background-repeat: no-repeat;
}

.back-background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.16) 100%), url('/image/backview.png'), lightgray 0px 0px / 100% 109.492% no-repeat;
    background-position: center;
    background-size: cover;
}

.background-sd-photo {
    background: linear-gradient(0deg, rgba(1, 104, 185, 0.43) 0%, rgba(1, 104, 185, 0.43) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("/image/image-sd-background.png"), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.background-tpa-photo {
    background: linear-gradient(0deg, rgba(1, 104, 185, 0.43) 0%, rgba(1, 104, 185, 0.43) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(""), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}


.background-kb-photo {
    background: linear-gradient(0deg, rgba(1, 104, 185, 0.23) 0%, rgba(1, 104, 185, 0.23) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("/image/image-kb-1.png"), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}